@media only screen and (min-width: 60rem) {
   
    header .heading h1{
      font-size: 2.5rem;
     
    }
   
   
    body main {
      display: grid;
      max-width: 960px;
      grid-template-columns: 1fr 1fr;
      margin: auto;
    
    }
    .banner {
      grid-column: 1/3;
      grid-row: 1;
    }
    .areasummary {
      display: grid;
      grid-column: 1/2;
      grid-row: 2;
    }
    
    .fcat{
      grid-column: 1/3;
      grid-row: 3;
    }

    .fruitscat {
      grid-column: 1/3;
      grid-row: 4;
    }
    .btncontainer {
      grid-column: 1/3;
      grid-row: 5;
    }

    .dry img {
      margin-left: 100px;
    }
    .fresh img {
      margin-left: 80px;
    }
  /********** CSS for customer page **********/
  
    main .form{
      display: grid;
      grid-template-columns: 1fr;
      max-width: 900px;
      padding-left: 90px;
    }
    .juicepic img, .fruitpic img {
      width: 100%;
      height: auto;
      padding: 0;
      margin-bottom: 10px
    }
    .instructionBox {
      display: block;
      font-size: 15px;
      border: 1px solid #2212;
      border-radius: 20px;
      padding: 1rem;
      width: 150%;
      height: 100px;
      margin-top: 10px;
      margin-left: 8px;
    }

  
 
  }
  