@media only screen and (min-width: 32.5em) {

    nav #primaryNav{
    display: flex;
    flex-direction: row;  
  }
  
    .navBtn {
      display: none;
    }
  
    header {
      flex-direction: row;
      justify-content: center;
  
    }
  
    header .heading h1{
      font-size: 2.5rem;
     
    }
    nav {
      font-size: 2rem;
      justify-content: center;
      align-items: center;
  
    }
    
    .logo img{
      margin-left: -15rem;
      width: 120px;
    }
    .social img{
      width:35px;
    }
    body main {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    .banner {
      grid-column: 1/3;
      grid-row: 1;
    }
    .areasummary {
      display: grid;
      grid-column: 1/2;
      grid-row: 2;
    }
   
    .fcat{
      grid-column: 1/3;
      grid-row: 3;
    }

    .fruitscat {
      grid-column: 1/3;
      grid-row: 4;
    }
    .btncontainer {
      grid-column: 1/3;
      grid-row: 5;
    }

    
   
    
    main {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    .formtitle{
      grid-column: 1/3;
      grid-row: 1;
    }
    .formresults {
      grid-column: 2/3;
      margin-top: 10px;
      grid-row: 2;
      width: 90%;
      height: fit-content;
    }
    .dry img {
      margin-left: 50px;
    }
    .fresh img {
      margin-left: 50px;
    }
  
    /********** CSS for customer page **********/
    main {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 1rem;
      margin: 1rem 2rem;
    }
    .bannerUs {
      grid-column: 1/3;
      grid-row: 1;
      margin: .5vw 0vw;
  
    }
    
  }